<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TTPS-Ruby</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if Current.user %>

          <li class="nav-item disabled">
            <a class="nav-link">Hola, <%= Current.user.username %>!</a>
          </li>

          <% if Current.user.has_role? :admin %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/users/new">Nuevo usuario</a></li>
              <li><a class="dropdown-item" href="/users">ver todos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Localidades
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/localities/new">Nueva localidad</a></li>
              <li><a class="dropdown-item" href="/localities">Ver todas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sucursales
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Nueva sucursal</a></li>
              <li><a class="dropdown-item" href="#">ver todas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Horarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Crear horario</a></li>
              <li><a class="dropdown-item" href="#">Ver horarios</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Turnos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Nuevo turno</a></li>
              <li><a class="dropdown-item" href="#">Ver turnos</a></li>
            </ul>
          </li>

          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"><%= link_to 'Ver mis datos', user_path(Current.user.id)%></a></li>
              <li><a class="dropdown-item"><%= link_to 'Cambiar mi contraseña', edit_password_path(Current.user.id) %></a></li>
            </ul>
          </li>
          <a class="nav-link active" aria-current="page"><%= link_to t('.cerrar sesión'), session_path(Current.user.id), data: {
                turbo_method: :delete, 
                turbo_confirm: t('common.confirm')
              } %>
          </a>
        <% else %>  
          <li class="nav-item">
            <a class="nav-link" href="/sessions/new">Iniciar Sesión</a>
          </li>
                  <li class="nav-item">
            <a class="nav-link" href="/users/new">Registrarse</a>
          </li>
        <% end %>  
      </ul>

      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>